@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  color: #fff;
}

body {
  margin: 0;
  background: #101020;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
